extend layout.pug 

block pagecontent 
    h3 This is the index view.

    ul.list-group
        li.list-group-item
            a(href="contact") Contact 
        li.list-group-item
            a(href="about") About 
        li.list-group-item
            a(href="employees") Employees         

    != sp