extend ../layout.pug

block pagecontent
    h3 This is the Index View

    ul.list-group#ulid 
        li.list-group-item 
            a(href="contact") Contact
        li.list-group-item 
            a(href="about") About
        li.list-group-item 
            a(href="employees") Employees