extend ../layout.pug

block pagecontent
    ul.list-group
        li.list-group-item 
            a(href="/") Back to Home
        li.list-group-item 
            a(href="/employees/create") Create Employee
    
    table.table.table-hover.table-striped 
        thead 
            tr 
                th ID
                th NAME 
                th 
                th ACTIONS 
                th 
        tbody 
            each emp in empList 
                include partials/employee-row.pug