extend ../layout.pug 

block pagecontent
    h3 This is the about view.

    ul.list-group
        li.list-group-item
            a(href="/") Home
        li.list-group-item
            a(href="contact") Contact 