extend ../layout.pug 

block pagecontent
    h3 This is the contact view.

    ul.list-group
        li.list-group-item
            a(href="/") Home
        li.list-group-item
            a(href="about") About 