extend ../layout.pug

block pagecontent
    h3 This is the About View

    ul.list-group#ulid 
        li.list-group-item 
            a(href="/") Home
        li.list-group-item 
            a(href="contact") Contact